doctype html
html
  head
    title My Collection
  body
    h1 My Card Collection
    h2
      a(href='/user') Back to User
    ul
      each card in cards
        li
          a(href=`/card/${card._id}`) #{card.name}
