<!DOCTYPE html>
<html lang = 'en'>
<head>
    <link rel="stylesheet" href="../css/login.css">
    
</head>
 <body>
    <h1>Welcome to BinderShare!</h1>
    <form id = 'login'>
        <label for="username" id="word">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password" id="word">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>
    <a href="/signUp">Sign Up</a>
    <script src = "/js/login.js"></script>
 </body>   
</html>