<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../css/user.css">
    </head>
    <body>
        <div class="top-bar">
            <div class="top-bar-wrapper">
              <div class="home-link">
                <a href="/home">Back to Home</a>
              </div>
              <div class="page-title">User Page</div>
              <div class="collection-link">
                <a href="/collection">Collection</a>
              </div>
            </div>
          </div>          
        <div class="container">
            <div>
                <a href="/add-Card" class="add-Card">Add Card</a>
            </div>
            <div>
                <form id="addBinder">Add Binder
                    <div>
                        <label for="bname">Name:</label>
                        <input type="text" id="bname" name="bname" required>
                    </div>
                    <button type="submit" id="binderSubmit">Add Binder</button>
                </form>
            </div>
            <div>
                <form id="deleteBinder">Delete Binder
                    <div>
                        <label for="dbinder">Binder to Delete:</label>
                        <select name="dbinder" id="dbinder"></select>
                    </div>
                    <button type="submit" id="binderDelete">Delete Binder</button>
                </form>
            </div>
        </div>
        <script src="/js/addBinder.js"></script>
        <script src="/js/deleteBinder.js"></script>
        <script src="/js/getBinder.js"></script>
    </body>
</html>
