body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #046411;
    font-family: Arial, sans-serif;
}

/* Style the header */
h1 {
    background: #1d8303;
    color: white;
    padding: 15px;
    width: 50%;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(3, 101, 29, 0.1);
}

/* Center the form and its elements */
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
}

#word {
    text-align: left;
    color:#000000;
}

/* Style the input fields */
input[type="text"], input[type="password"] {
    width: 30%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

/* Style the button */
button {
    width: 10%;
    padding: 10px;
    background-color: #ff7a00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #e06900;
}

.btn-orange {
    display: inline-block;
    background-color: #ff7a00;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s ease;
  }
  
  .btn-orange:hover {
    background-color: #e06900;
  }
